# SecuPilot local/private deployment dry-run template
SECUPILOT_MODE=local_dry_run
SECUPILOT_DATA_MODE=synthetic_only
SECUPILOT_REAL_DATA_ENABLED=false
SECUPILOT_MASKED_REAL_DATA_ENABLED=false
SECUPILOT_LIVE_QWEN_ENABLED=false
SECUPILOT_LIVE_CONNECTORS_ENABLED=false
SECUPILOT_NETWORK_REQUEST_ENABLED=false
SECUPILOT_PRODUCTION_WRITEBACK_ENABLED=false
SECUPILOT_CUSTOMER_VISIBLE_OUTPUT_ENABLED=false
SECUPILOT_DEPLOY_EXECUTED=false
SECUPILOT_SECRET_MATERIAL_REQUIRED=false
